* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-tan);
}

:root {
  --darkblue: #1a1a1a;
  --light-tan: #F0E4D3;
  --dark-tan: #DCC5B2;
  --cream: #FAF7F3
}

/* Form section */

#form-section {
  display: flex;
  padding: 30px;
}

label {
  font-size: large;
}

input {
  padding: 0px 10px;
}

#search-bar {
  margin-bottom: 10px;
}

button {
  padding: 5px;
}

/* Single card details section */

.hidden {
  display: none;
}

#card-details {
  padding: 30px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#card-basics {
  display: flex;
  flex-direction: column;
  width: 250px;
  flex-shrink: 0;
  gap: 10px;
}

#card-specifics {
  padding-left: 20px;
  text-align: justify;
  font-size:large;
}

#card-specifics span {
  color:brown
}

/* Multi-card details */

#cards-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 30px;
}

.card {
  padding: 5px;
}

.img {
  max-width: 250px;
  max-height: 400px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
}

.img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px var(--darkblue);
}
